body,html
{
    margin: 0;
    padding: 0;

    background: var(--bodyBg);
    color: var(--bodyFg);
}

*
{
    font-size: 14px;
    font-family: Consolas, 'Courier New', monospace;
}

table
{
    width: calc(100% - 13px);
}

h1,h2,h3,h4,h5,h6
{
    margin: 0;
    padding: 0;
}

h4
{
    max-width: calc(90%);
}

header
{
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    position: fixed;
    top: 0;
    left: 0;

    padding: 0.5em;
    
    width: calc(100% - 13px);
    background-color: var(--headerBg);    
    color: var(--headerFg);
}

header, header * 
{
    font-size: 12px;
    font-family: var(--sansSerifFont);
}

header button
{
    cursor: pointer;

    background-color: var(--buttonBg);
    color: var(--buttonFg);
    border: none;

    width: 26px;
    height: 18px;

    margin-right: 2px;
}

header button.clear
{
    background-color: var(--clearBg);
    color: var(--clearFg);
}

header button:hover
{
    background-color: var(--buttonHoverBg);
}

header button.clear:hover
{
    background-color: var(--clearHoverBg);
}

header button:focus
{
    outline: none;
}

header .right
{
    display: flex;
}

.dumpContainer
{
    margin-top: 2.2em;
}

.clickable
{
    cursor: pointer;
}

.dump
{
    padding: 0.5em;
    border-bottom: 1px solid var(--dumpBorder);
}

.dumpTitle
{
    padding: 0.5em 0.5em 0em 0.5em;
    font-size: 1.25em;
    font-family: var(--sansSerifFont);
    color: var(--titleFg);
}

.time
{
    font-size: 0.85em;
    text-align: right;

    margin-top: -0.3em;
    margin-bottom: -0.5em;
}

th,td
{
    padding: 0;
    text-align: left;
    vertical-align: text-top;
}

td.equals
{
    vertical-align: top;
    text-align: right;
    padding-right: 0.9em;
}

.array
{
    /* I hate tables */
    max-height: 17px;
    margin: -2px -3px;
}

.object .collapse
{
    text-align: right;
    color: var(--bodyFg);
}

.hidden > table
{
    /*
    display: inline-block;

    border: none;
    overflow: hidden;

    padding: 0;
    margin: 0;
    
    height: 0;
    */

    display: none;
}


table .object > table
{
    background: var(--dumpInnerBg);
    border: 1px solid var(--collectionBorder);

    margin: 0 0 0.25em 0;
    padding: 0.2em 0.33em;
}

.object tr
{
    max-height: 17px;
}

.propName
{
    text-align: left;
    padding-right: 0.75em;
    color: var(--propName);
    
    vertical-align: top;
}

.count
{
    font-weight: normal;
    font-size: 0.85em;
}

.typeName
{
    color: var(--typeName);

    font-weight: normal;
    font-family: var(--monoFont);
}

.raw
{
    display: inline-block;
}

.raw.string
{
    color: var(--string);
}

.raw.number
{
    color: var(--number);
}

.raw.null
{
    color: var(--null);
}

.raw.bool, .keyword
{
    color: var(--bool);
}

.normal
{
    color: var(--bodyFg);
}

.rowIndexHeader
{
    width: 24px;

    color: var(--null);
}