:root
{
    --bodyFg: #000000;
    --bodyBg: #ffffff;

    --sansSerifFont: -apple-system, BlinkMacSystemFont, "Segoe WPC", "Segoe UI", "HelveticaNeue-Light", "Ubuntu", "Droid Sans", sans-serif;
    --monoFont: Consolas, "Courier New", monospace;

    --propName: currentColor;
    --typeName: #267f99;
    --string: #a31515;
    --number: #09885a;
    --null: rgb(150, 150, 150);
    --bool: #0000ff;

    --collectionBorder: rgb(69, 69, 69);
    --dumpBorder: rgb(231, 231, 231);
    
    --headerBg: rgb(44, 44, 44);
    --headerFg: #ffffff;

    --dumpInnerBg: rgb(243, 243, 243);

    --clearBg: #A92120;
    --clearHoverBg: #F5302E;
    --clearFg: #ffffff;

    --buttonBg: #0e639c;
    --buttonHoverBg: #1177bb;
    --buttonFg: #ffffff;
}